* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

/* Slideshow */
.slideshow {
    height: 100%;

    /* background-image: url("../images/fred-kearney-rmxlMmbgQAk-unsplash.jpg");
    background-image: url("../images/man-in-water.jpg"); */
    background-image: url("../images/portrait.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slideshow .text {
    color: #f2f2f2;
    font-size: 50px;
    padding: 8px 12px;
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
}

.dot-container {
    position: absolute;
    bottom: 3%;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {    
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #616161;
}
  
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* Middle Nav */
.link-buttons {
    padding: 5% 0;
}

.link-buttons a {
    width: 80%;
    font-size: 5rem;
    display: block;
    padding: 5% 0;
    color: white;
    text-align: center;
    margin: 2% auto;
    border-radius: 20px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#film {
    background-image: url("../images/creeper.jpg");
}

#commercials {
    background-image: url("../images/Shoe.jpg");
}

#photography {
    background-image: url("../images/Photographer.jpg");
}

/* Blog Posts */
.blog-posts {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}

.col {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}

.post img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.blog-posts h1 {
    margin-bottom: 5px;
}
.blog-posts .text{
    max-width: 80%;
    margin: 1% auto 7%;
    text-align: right;
    line-height: 1.2;
}

.blog-posts .text h1, .blog-posts .text p {
    text-align: center;
}

#read-more {
    display: inline-block;
    font-style: italic;
    margin-top: 10px;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media only screen and (orientation: portrait), (max-width: 768px) {
    .blog-posts {
        display: block;
        width: 90%;
        margin: auto;
    }
    
    .col {
        margin: 20px;
    }

    .top-nav .links a{
        display: none;
    }
}

@media only screen and (orientation: portrait) {
    .link-buttons a {
        padding: 20px;
        font-size: 4rem;
    }
}