/* Upper Nav */
.top-nav {
    background-color: rgba(rgba(255, 0, 0, 0), green, blue, alpha);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: absolute;
}

#home-btn {
    color: white;
    margin-left: 20px;
    border: thick solid white;
    border-radius: 5px;
    padding: 5px 15px;
}

#search-bar {
    max-width: 50%;
    height: 50%;
    font-size: 1.3em;
    flex-grow: 1;
    margin: 70px;
}

.top-nav .links a{
    color: white;
    margin: 20px;
}

/* Hamburger menu*/
nav .container {
    /* display: inline-block; */
    cursor: pointer;
    margin-right: 20px;
    display: none;
    z-index: 10;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
  
/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}
  
/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}


/* The sidenav menu */
.sidenav {
    height: 100%; /* Specify a height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 1; 
    top: 0px; /* Stay on top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 70px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
/* The sidenav links */
/* .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
} */

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
}
  
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

.sidenav .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.active {
    background-color: blue;
    color: white;
}

.fa-caret-down {
    padding: 0 2px;    
}

@media only screen and (orientation: portrait) {
    nav .container {
        display: inline-block;
    }

    .land-links {
        display: none;
    }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
  